    <div id="headlines">
      <div class="headline orange">Great thing seen</div>
      <div class="headline width2 orange">Interesting sighting</div>
      <div class="headline width2 height2 green">Milestone reached</div>
      <div class="headline sand">5 drives yesterday</div>
      <div class="headline orange height2">You've spotted 5 things</div>
      <div class="headline orange">Unusual thing seen</div>
      <div class="headline green">Total sightings is 18,359</div>
      <div class="headline orange">Most active pride</div>
      <div class="headline sand">That thing also happened</div>
      <div class="headline orange">That thing also happened</div>
      <div class="headline sand">5,434km driven in 2 wks</div>
      <div class="headline orange">2,474 elephants spotted</div>
      <div class="headline sand width2">Big Tree is the most popular location</div>
      <div class="headline width2 height2 orange">This amazing thing happened</div>
      <div class="headline width2 green">One more thing?</div>
    </div>
    
