<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js">
        </script>
    </head>
    <body>
        <div data-role="page" id="page1">
            <div data-role="content">
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=Madison, WI&amp;zoom=14&amp;size=288x250&amp;markers=Madison, WI&amp;sensor=false" width="288" height="250" />
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <div style="width: 100%; height: 90px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
                            <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px" />
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div style="width: 100%; height: 90px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
                            <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px" />
                        </div>
                    </div>
                    <div class="ui-block-c">
                        <div style="width: 100%; height: 90px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
                            <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px" />
                        </div>
                    </div>
                    <div class="ui-block-a">
                        <div style="width: 100%; height: 90px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
                            <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px" />
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div style="width: 100%; height: 90px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
                            <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px" />
                        </div>
                    </div>
                    <div class="ui-block-c">
                        <div style="width: 100%; height: 90px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
                            <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>