<div class="container">
  <div class="row">
    <h1>Add new sighting</h1>
    <h3>Hey, what have you seen, and where have you seen it?</h3>   
    <div id="selector">
      
    </div>
    <div id="map">
      
    </div>      
  </div>    
</div>

