<div class="container">
  <div class="row">
    <h1>Add new sighting</h1>
    <h3>Hey, what have you seen, and where have you seen it?</h3>   
    <div id="selector">

      <label for="locations_search">Locations: </label>
      <input id="locations_search"/> 
      <input id="location_id" type="hidden">
      <!-- <input id="location_id"> -->
      
    </div>
    <div id="new_map" class="map">
      
    </div>      
  </div>    
</div>

