<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Details (edit/delete)</th>
    </tr>
  </thead>
  <tbody>
    <% @camps.each do |camp| %>
    <tr>
      <td>
        <%= link_to camp.name, edit_company_camp_path(@company, camp) %>
      </td>
      <td>
        <%= link_to "Details", edit_company_camp_path(@company, camp), :class => "btn btn-mini btn-warning" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
