<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="span9">
        <!-- TODO: Nest this properly. Following is example of what not to do -->
        <h1>
          List of Camps 
          <% if @company %>
            for <%= link_to "#{@company.name} Company", company_path(@company) %>
          <% end %>
        </h1>
      </div>
      <div class="span3">
        <%= link_to "Add new camp", new_camp_path, :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <%= render :partial => 'table' %>
    </div>
  </div>
</div>

