<div class="container">
  <h1><%= @camp.name %></h1> 
  <% if @sightings.blank? %>
    <p>No sightings at this camp,
      <%= link_to "add one?", new_sighting_path %>
    </p>
  <% else %>
    <%= render :partial => 'sightings/table' %>
  <% end %>
</div>

