<div id="map-landing-page" style="height: 800px; width: 1000px"></div>           

<div id="box" class="overlayBox">
  <h1>Howdy, what are you looking for?...</h1>
  <!-- <input type="text" class="response" name="some_name" value="" id="some_name"> -->
  
  <%= form_tag sightings_path, :method => 'post' do %>
    <%= text_field_tag :home_search, params[:search], :class => 'omni_enter' %>
  <% end %>
  

  <div>
    <a href="/sightings">All sightings</a>
  </div>
</div>