<h1>Home#index</h1>
<p>So, what do you want to see?</p>

<form action="/home/index" method="get" accept-charset="utf-8">
  <%= form_tag('/posts') do |f|-%>
    <div><%= submit_tag 'Save' %></div>
  <% end -%>
</form>
