<div id="map_landing_page" class="map fullpage"></div>           

<!-- <div id="box" class="overlayBox">
  <h1>Howdy, what are you looking for?...</h1>
  <input type="text" class="response" data-autocomplete="sightings/autocomplete_species_common_name">
  <div>
    <a href="/sightings">All sightings</a>
  </div>
</div> -->