<div class='container'>
  <!-- Multi-model autocomplete -->
  <div class="row well">
    <div class="demo">
    	<label for="search">Search: </label>
    	<input id="search" />
    </div>
    <div class="demo-description">
    <p>A categorized search result. Try typing "a" or "n".</p>
    </div>
  </div>
   
  <!-- Time parsing -->
  <div class='row well'>
    <h1>Time stuff<h1>
    <form action="tester" method="get" accept-charset="utf-8">
      <input type="text" name="time_input" placeholder="Enter any description of time"> 
      <p><input type="submit" value="Continue"></p>
    </form>
    <h1>Response</h1>
    <p><%= @response %></p>
  </div>

</div>

