  <script type="text/javascript">

  var cartodb1_gmapsv3
    , cartodb2_gmapsv3
    , cartodb3_gmapsv3;

  function initialize() {
    var map = new google.maps.Map(document.getElementById('map_canvas'), {
      center: new google.maps.LatLng(20,0),
      zoom: 4,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false
    });

    cartodb2_gmapsv3 = new google.maps.CartoDBLayer({
      map_canvas: 'map_canvas',
      map: map,
      user_name:"examples",
      table_name: 'earthquakes',
      query: "SELECT cartodb_id,the_geom_webmercator,magnitude FROM {{table_name}}",
      tile_style: "#{{table_name}}{marker-fill:#E25B5B}",
      map_style: true,
      infowindow: "SELECT cartodb_id,the_geom_webmercator,magnitude FROM {{table_name}} WHERE cartodb_id={{feature}}",
      auto_bound: false,
      debug: true
    });  

    cartodb1_gmapsv3 = new google.maps.CartoDBLayer({
      map_canvas: 'map_canvas',
      map: map,
      user_name:'examples',
      table_name: 'country_colors',
      query: "SELECT * FROM {{table_name}}",
      map_style: false,
      infowindow: false,
      auto_bound: false,
      debug: true
    });
    
    $('form').submit(function(ev){
      ev.stopPropagation(); ev.preventDefault();
      var value = $(this).find('input').val();
      cartodb2_gmapsv3.update({'query':value});
    });
  }

  </script>

<body onload="initialize()">
  <div id="map_canvas"></div>
  <form><input type="text" value="SELECT * FROM earthquakes"/></form>
  <a class="cartodb_logo" href="http://www.cartodb.com" target="_blank">CartoDB</a>
</body>
