<div class='container'>
    
    <form action="time" method="get" accept-charset="utf-8">
      <input type="text" name="time_input" placeholder="Enter any description of time"> 
      

      <p><input type="submit" value="Continue"></p>
    </form>
    
    <h1>Response</h1>
    <p><%= @response %></p>
   
</div>

