<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Results table</h1>
      <%= render partial: 'table' %>
    </div>
    <div class="span6">
      <h1>Filters and search</h1>
    </div>
  </div>
</div>
