<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Details (edit/delete)</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <td>
        <%= link_to "#{company.name} (#{company.camps.count})", company_path(company) %>
        <%# link_to "(list camps)", company_camps_path(company) %> 
      </td>
      <td>
        <%= link_to "Details", edit_company_path(company), :class => "btn btn-mini btn-warning" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
