// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Signika+Negative:600);

body {
//  background: none repeat scroll 0% 0% rgb(238, 238, 238)
}

p {
  font-family: 'Signika Negative', sans-serif;      
  font-size: 13px;  
  margin: 15px;
}

.response {
  font-size: 30px; 
  font-family: 'Signika Negative', sans-serif;
  width: 500px; 
  height: 40px; 
  padding: 10px;
  border: none;
//  -moz-box-shadow: inset 0 0 5px #888;
//  -webkit-box-shadow: inset 0 0 5px#888;
//  box-shadow: inset 0 0 5px #888; 
  
}
                                                         
#map {
  width:100%; 
  height:800px;
}


.overlayBox {
    opacity: 0.95;
    position:absolute;
    z-index: 1000;
    top:150px;
    width:600px; 
    height: 150px; 
    text-align:center; 
    background: #b8b185;  
    border: 1px solid #625f48; 
//    clear: both;
    right: 30%;
//    vertical-align: center;
//    float: auto;
//    padding: 0;
//    padding-right: 60px;
//    left: 10%;
//    padding-left: 20px; 
    margin:0 auto auto; 
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;

  
  }