// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Signika+Negative:600);

body {
//  background: none repeat scroll 0% 0% rgb(238, 238, 238)
    padding-top: 60px;
    padding-bottom: 40px;
}

p {
  font-family: 'Signika Negative', sans-serif;      
  font-size: 13px;  
  margin: 15px;
}

.response {
  font-size: 30px; 
  font-family: 'Signika Negative', sans-serif;
  width: 500px; 
  height: 40px; 
  padding: 10px;
  border: none;
//  -moz-box-shadow: inset 0 0 5px #888;
//  -webkit-box-shadow: inset 0 0 5px#888;
//  box-shadow: inset 0 0 5px #888; 
  
}
                                                         
#map {
  width:100%; 
  height:800px;
}


.overlayBox {
    opacity: 0.95;
    position:absolute;
    z-index: 1000;
    top:150px;
    width:600px; 
    height: 150px; 
    text-align:center; 
    background: #b8b185;  
    border: 1px solid #625f48; 
//    clear: both;
    right: 30%;
//    vertical-align: center;
//    float: auto;
//    padding: 0;
//    padding-right: 60px;
//    left: 10%;
//    padding-left: 20px; 
    margin:0 auto auto; 
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;
}

.ui-autocomplete-category {
	font-weight: bold; 
	font: 120% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color:pink;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
} 

.model_results {
//  border: 1px solid grey;
    background: #DDD;
}


.omni_enter {
  font-size: 30px; 
  font-family: 'Signika Negative', sans-serif;
  width: 500px; 
  height: 40px; 
  padding: 10px;
  border: none;
  -moz-box-shadow: inset 0 0 5px #888;
  -webkit-box-shadow: inset 0 0 5px#888;
  box-shadow: inset 0 0 5px #888; 
  
}

.species{
  background: #B97E41 ;
}
.tribe {
  background: #75441B ;
}
.tribe h2 {
  color: #F1DBC4;
}
.location {
  background: #CFA364;
}
.time {
  background: #4A1E00;
}
.time h2 {
  color: #F1DBC4;
}

