// Place all the styles related to the sightings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
                       

.sightings_book {
// background: #b8b185;
 border: 1px solid #625f48; 
 padding: 5px; 
 -moz-border-radius: 3px;
 border-radius: 3px;
 -moz-box-shadow: 0 0 10px #888;
 -webkit-box-shadow: 0 0 10px#888;
 box-shadow: 0 0 10px #888;
 }
 
 .ui-autocomplete-category {
  font-weight: bold; 
  font: 150%;
 //  background: pink;
  color:darkgray;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
 } 

// .ui-autocomplete-category {
// //  background: green;
// }

 .model_results {
 //  border: 1px solid grey;
     background: #DDD;
 }

 .omni_enter {
   font-size: 30px; 
   font-family: 'Signika Negative', sans-serif;
   width: 500px; 
   height: 40px; 
   padding: 10px;
   border: none;
   -moz-box-shadow: inset 0 0 5px #888;
   -webkit-box-shadow: inset 0 0 5px#888;
   box-shadow: inset 0 0 5px #888; 
 }

 .species{
   background: #B97E41 ;
 }
 .tribe {
   background: #75441B ;
 }
 .tribe h2, .tribe li {
   color: #F1DBC4;
 }
 .location {
   background: #CFA364;
 }
 .time {
   background: #4A1E00;
 }
 .time h2, .time li{
   color: #F1DBC4;
 }
 