// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #f0f0ed;
}

h1 {
  color: #FF3209;
}

h2 {
  color: #6E1604;
}

h3 {
  color: #989171;
}