<!DOCTYPE html>
<html>
<head>
  <title>WildSpot - your safari companion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src='/wax/ext/modestmaps.min.js' type='text/javascript'></script>
  <script src='/wax/dist/wax.mm.js' type='text/javascript'></script>
  <link href='/wax/theme/controls.css' rel='stylesheet' type='text/css' />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
</head>
<body>

<%= yield %>

</body>
</html>
